<div class="row">
  <div class="col-xs-8">
    <h2>Smart Invites</h2>
  </div>

  <div class="col-xs-4 text-right">
    <%= link_to "Create Smart Invite", new_smart_invite_path, { class: "btn btn-primary" } %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Smart Invite ID</th>
    <th>Email</th>
    <th></th>
  </tr>
</thead>

  <tbody>
  <% @invites.each do |invite| %>
      <tr>
        <td>
          <%= invite.smart_invite_id %>
        </td>
        <td>
          <%= invite.email %>
        </td>
        <td>
          <%= link_to "View", smart_invite_path(id: invite.smart_invite_id, email: invite.email) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
