<h2>Enterprise Connect</h2>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @resources.each do |resource| %>
      <tr>
        <td>
          <%= resource.name %>
        </td>
        <td>
          <%= resource.email %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
