<p>Your account ID is:</p>
<pre><code><%= @account_id %></code></pre>
<p>In order to get another user's account ID, ask them to visit this URL, follow the authentication flow and let you know what account ID is displayed:</p><a href="<%= @auth_url %>"><%= @auth_url %></a>