<h2>Credentials Not Set</h2>

<p>
  You are seeing this message as you do not have a CRONOFY_CLIENT_ID and CRONOFY_CLIENT_SECRET set in your project's environment variables.
</p>

<p>
  In order to generate a CRONOFY_CLIENT_ID and CRONOFY_CLIENT_SECRET, follow these steps:
</p>

<ol>
  <li>Visit the <a href="https://app.cronofy.com/oauth/applications">Cronofy Dashboard</a></li>
  <li>Create a new app</li>
  <li>Once created go to the app's Settings page</li>
  <li>Copy your Client ID and Client Secret</li>
  <li>Add them to your environment variables</li>
  <li>Restart the application</li>
</ol>
