<h2><%= user.email %> - Calendars</h2>

<% @account_profiles.each do |account_profile, calendars| %>
    <div class="row">
      <div class="col-xs-8">
        <h3><%= account_profile[:profile_name] %></h3>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% calendars.each do |calendar| %>
          <tr>
            <td>
              <%= calendar.calendar_name %>
            </td>
            <td>
              <%= link_to "View", service_account_user_calendar_path(service_account_user_id: params[:id], id: calendar.calendar_id) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

