<!DOCTYPE html>
<html>
  <head>
    <title>CronofySampleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Cronofy Sample Application</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h1>Sample Application</h1>

      <%= yield %>
    </div>
  </div>
  </body>
</html>
